* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #dddffb, #1666d6, #dddffb); 
  min-height: 100vh;
  padding: 1rem;
  
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 1rem;
  font-weight: normal;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon-btn {
  font-size: 1.25rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  object-fit: cover;
}

header .real-time, header .real-date {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin: 5px;
    font-size: 1.2em;
    text-align: center;
}

.main {
  width: 100%;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .summary-section {
    flex-direction: row;
  }
}

.summary-box {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  height: 6rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  background-color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#today-hours, #week-hours, #month-hours {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5rem; 
  margin-bottom: 4rem;
}

.lecture-section {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: white; 
}

.lecture-title {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.lecture-bar {
  background-color: #b8babc;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #111827;
  font-weight: 500;
}

.punch-button-wrapper {
  display: flex;
  justify-content: center;
}

.punch-button {
  background-color: #2563eb;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  font-weight: normal;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.punch-button:hover {
  background-color: #1d4ed8;
}
